# Using python coveralls 1.1 because it was recommended an included
# a tutorial on Travis CI integration
language: python
python:
  - 3.5
# command to run tests
install:
  pip install coveralls
script: 
  #make test
  coverage run -m unittest test
after_success:
  coveralls
